{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.jsx", "*.tsx"],
            "options": {
                "jsxSingleQuote": false,
                "jsxBracketSameLine": false,
                "jsxPrintWidth": 120,
                "jsxTrailingComma": "all"
            }
        }
    ]
}
